<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="token_ConsumerKey" value="KhXd8KUMv5j67A9Uc0NCqQ"/>
    <add key="token_ConsumerSecret" value="THVCJZfPXSBwdmSgVWoyEmAQFCOoIvj7S3Zm4X7HME"/>
    <add key="token_AccessToken" value="700562792-lsjOoNgdUfmjIIre8jJ1ealPVVrgQjvuYTrPibYj"/>
    <add key="token_AccessTokenSecret" value="Fli0zp19IiHcvd42BakAg5bUuh0bDQtoxMskWtOOaE"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
